import(stats)
import(ggplot2)
importFrom("graphics", "par", "strwidth", "hist")
importFrom("gmodels", "CrossTable")
importFrom("DescTools", "ConDisPairs")
importFrom("psych", "corr.test")
importFrom("haven", "read_dta")
importFrom("RColorBrewer", "brewer.pal")
importFrom("graphics", "abline", "arrows", "axis", "box", "plot",
             "points")
importFrom("utils", "combn")
importFrom("tibble", "as_tibble")
importFrom("dplyr", "mutate", "case_when", "rename")
importFrom("magrittr", "%>%")
importFrom("tidyr", "pivot_longer")
S3method(print, ktb)
S3method(print, gkg)
S3method(print, tTest)
S3method(print, allTT)
exportPattern("^[^\\.]")
